@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end;
    background:#174873
}
.image
{
width: 0%;
padding-right: 1000px;
display: flex;
margin-top: 4px;

}
        

.wrapper {
    width: 380px;
    padding: 59.7px 30px 50px 30px;
    background: #fff;
    text-align: center;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1);
}

.wrapper header {
    font-size: 36px;
    font-weight: 600;
}

.wrapper form {
    margin: 52px 0;
}

form .field {
    width: 100%;
    margin-bottom: 20px;
   
}



form .field .input-area {
    height: 50px;
    width: 100%;
    position: relative;
}

form input {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 45px;
    font-size: 18px;
    background:none;
    caret-color: #5372F0;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    border-bottom-width: 3px;
    transition: all 0.2s ease;
}


.field .input-area i {
    position: absolute;
    top: 50%;
    font-size: 18px;
    transform: translateY(-50%);
}
.input-area
{
    padding-top: 6px;
}

.input-area .icon {
    left: 10px;
    color: #bfbfbf;
    
}
form .field .error {
    display: none;
}
form .pass-txt {
    text-align: left;
    margin-top: 10px;
}

.wrapper a {
    color: #5372F0;
    text-decoration: none;
}
form input[type="submit"] {
    height: 50px;
    margin-top: 30px;
    color: #fff;
    padding: 0;
    border: none;
    background: #5372F0;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    background: #2c52ed;
}


